@charset "utf-8";

/* 모바일용 css*/

/* 기본 css*/

.container{width:100%; max-width:1132px; margin:0 auto; }


.sec-tit{font-size:35px; color:#3f51b5; font-weight:normal; }
.cfixed:after, .container:after{display:block; content:""; clear:both; }
.divider{width:90%; max-width:1132px; margin:0 auto; margin-top:77px; background:#eee; }
.m-divider{width:20px; margin:0 auto; margin-top:77px; background:#3f51b5; }
.blind{position:absolute; width:0; height:0; line-height:0; text-indent:-9999px; overflow:hidden; }
.top a {background:#dc6d8b; color:#fff; z-index:999;  position:fixed; right:5%; bottom:10%; line-height:50px; text-align:center; width:50px; height:50px;  }
.top a:hover {background:#223641; color:#fff; }
/*헤더 영역 CSS*/
#Hall{position:fixed; top:0; left:0; width:100%; height:62px; z-index:1000; margin-bottom:62px; }
.header{position:relative; padding:18px 5%;background:rgba(255,255,255,1)  }
.header .logo{float:left; }
.header .logo a{ font-family: 'Roboto', sans-serif;font-size:26px; color:#2c3e50; font-weight:bold;}
.header .gnb{display:none; position:absolute; top:100%;right:0; width:100%; font-weight:bold; background:rgba(0,0,0,0.5) }
.header .gnb li{border-bottom:1px solid #ebeeff; }
.header .gnb li a{ font-family: 'Roboto', sans-serif;display:block; padding:14px 0 14px 5%; font-size:14px; color:#fff; }
.header .gnb li a:hover{color:rgb(255, 238, 0)}
.header .menu-toggle-btn{float:right; width:20px; margin-top:4px; cursor:pointer; }
.header .menu-toggle-btn span{display:block; width:100%; height:3px; background:#2c3e50; }
.header .menu-toggle-btn span:nth-child(2){margin:5px 0; }

/*슬라이더 영역 CSS*/
.slider{margin-top:62px;}
.slider img{display:block; width:100%; max-width:100%; height:auto; }

.inforimg { 
  width:100%;
  margin-bottom:100px;
}
.inforimg img{
  display: block;
  margin:0 auto;
  width:100%;
}



/* 디스플레이 영역 CSS*/
.display-section{text-align:center; margin-top:59px;  }
.display-section .sec-tit{margin-bottom:30px; }
.display-section .desc{font-family:'Roboto', sans-serif; font-weight:bold; color:#616161; line-height:1.9; }

/*프로모션 영역 CSS*/
.promotion-section{margin-top:68px; }
.promotion-section .promo-list li{text-align:center; margin-top:52px; }
.promotion-section .promo-list li:first-child{margin-top:0; }
.promotion-section .promo-list img{height:52px; }
.promotion-section .promo-list li h3{margin:29px 0 20px 0; color:#dc6d8b;  font-family: 'Roboto', sans-serif;font-weight: bold;  }
.promotion-section .promo-list li p{font-size:14px; font-family: 'Roboto', sans-serif;font-weight: bold;color:#616161; line-height:1.5; }



.blog-section{padding-bottom:100px;}
.blog-section .sec-tit{margin-bottom: 47px; text-align: center; }
.blog-section .blog-list li{width: 100%; margin-top:45px;}
.blog-section .blog-list li:first-child{margin-top: 0; }

.blog-section .blog-list li img{display:block; width: 100%; max-width: 100%; height:auto; }
.blog-section .blog-list li img:hover{transform: scale(1.05); /*default*/
  -webkit-transform:scale(1.05);/*크롬*/
  -moz-transform:scale(1.05) ; /*firefox*/
  -o-transform: scale(1.05); /*opera*/
  transition:all 0.5s;} 



  
.blog-section .blog-list li time{display:block; margin: 11px 0 10px 0; font-size:11px; color:#9e9e9e; }
.blog-section .blog-list li h3{color:#424242; font-weight:normal; line-height:1.6; }

/*cover letter CSS*/
.contact-section{margin-top:80px; }
.contact-section .sec-tit{margin-bottom: 47px; text-align: center; }


/*푸터영역 CSS*/
.footer{margin-top:104px; }
.footer iframe{width:100%; height:320px; }
.footer p {margin:21px 0; color:#3f51b5; text-align:center; }



/* 태블릿용 CSS*/
@media all and (min-width:768px){
    
/* 기본 CSS */
.divider{margin-top:124px; }
.m-divider{margin-top:124px; }

    
/* 헤더영역 CSS */
#Hall{height:62px;}
.header{position:static; padding:18px 52px;background:rgba(255,255,255,1)  }
.header .gnb{display:block !important; position:static; float:right; width:auto; margin-top:6px; background:none; }    
.header .gnb li{float:left; margin-left:21px; border-bottom:0; }    
.header .gnb li a{color:#2c3e50; padding:0; font-size:16px; }
.header .gnb li a:hover{color:#dc6d8b;}

.header .menu-toggle-btn{display:none !important; } 
 
/* 슬라이드 영역 CSS */
.slider{margin-top:95px; } 
    
/* 디스플레이 영역 CSS */
.display-section{margin-top:95px; }

.inforimg {
  width:100%;

  margin-bottom:100px;
}
.inforimg img{
  display: block;
  margin:0 auto;
  width:588px;
}




/*프로모션 영역 CSS*/
.promotion-section { margin-top:110px; }
.promotion-section .promo-list li {float:left; width:20%;margin-left:0%; margin-top:0; } 
.promotion-section .promo-list li:first-child {margin-left:0; }    


    
/*최근 글 영역 CSS*/
.blog-section {/*margin-top:124px;*/padding-bottom:100px;}
.blog-section .sec-tit {margin-bottom:76px;}
.blog-section .blog-list li { float:left; width:31.59722222222222%;
  /*728나누기3*/ margin-left:2.604166666666667%; margin-top:0;	}
.blog-section .blog-list li:first-child { margin-left:0; }    
} 

.Item01{width:100%;}
.Item01 video{display:block;width:100%;}


/*연락처영역 CSS*/
.contact-section {/*margin-top:176px;*/ }
.contact-section .sec-tit { /*margin-bottom:76px;	*/}
.contact-section .form-box .form, .contact-section .form-box .textarea {
  float:left;  width:100%; line-height: 20px;}
  .contact-section .form-box .form, .contact-section .form-box .textarea h4{padding-bottom:20px;}
  .contact-section .form-box .form, .contact-section .form-box .textarea p{padding-bottom:20px;text-align: justify;}
.contact-section .form-box .form {margin-right:2.604166666666667%;}
.contact-section .form-box .form input:last-child {margin-bottom:0;	}

/*푸터영역 CSS*/

.footer iframe { height:432px;}
.footer p {margin:34px 0;}



/* PC용 CSS */
@media all and (min-width:1132px){

/* 디스플레이 영역 css*/
#display-section{text-align:left; }
#display-section .sec-tit{float:left; margin-bottom:0;}
#display-section .desc{position:relative; float:right; padding-left:20px; font-family:'Pt Serif'; color:#616161; line-height:1.9; }
#display-section .desc:before{display:block; position:absolute; top:9px; left:0; width:2px; height:44px; background:#e0e0e0; content:""; }
    
/*프로모션 영역 CSS*/
.promotion-section .promo-list li {	width:20%;margin-left:0%;	}

/*최근 작업 영역 CSS*/
.work-section .sec-tit {text-align:left; }
.work-section .work-list li {width:25%;	}

/*최근 글 영역 CSS*/
.blog-section .sec-tit {float:left;margin-bottom:0;	}
.blog-section .blog-list {float:right;width:100%;}
.blog-section .blog-list li {width:31.75355450236967%; margin-left:2.369668246445498%;}

/*연락처 영역 CSS*/
.contact-section .sec-tit {float:left;margin-bottom:0;}
.contact-section .form-box {float:right;width:100%;}
.contact-section .form-box .form, .contact-section .form-box .textarea { width:100%;}
 .contact-section .form-box .form, .contact-section .form-box .textarea h4{padding-bottom:20px;}
 .contact-section .form-box .form, .contact-section .form-box .textarea p{padding-bottom:20px;text-align: justify;}
.contact-section .form-box .form {margin-right:2.369668246445498%;}

}    
    

    
    
    
